footer {
    border: 1px solid midnightblue;
    margin-top: 1em;
}

h2 {
    text-align: left;
    font-size: x-large;
}

.main-box, .main-box-cfg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    row-gap: 0.2em;
}

.sensor-box {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
}

/*.sensor-box .id, .timestamp, .temperature, .humidity, .airQuality, .waterLeak, .occupancy {*/
.sensor-box > div {
    text-align: center;
    /*border: 1px solid black;*/
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.sensor-box > .timestamp {
    padding-bottom: revert;
    font-size: smaller;
}

.grid-container {
    display: grid;
    justify-content: start;
    grid-template-columns: min-content min-content;
    grid-gap: 0.5em;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 1.0);
    width: fit-content;
}

/* the title, so to speak, for the form */
.grid-sensorid {
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: center;
    margin-bottom: 0.5em;
    font-weight: bolder;
}

.grid-label {
    grid-column-start: 1;
    grid-column-end: auto;
    justify-self: end;
}

.grid-input,
.grid-select {
    grid-column-start: 2;
    grid-column-end: auto;
    justify-self: start;
}

.grid-submit {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: end;
}

.grid-hidden {
    background-color: rgba(0, 255, 0, 0.2);
    border: 1px solid rgba(0, 255, 0, 1.0);
}

.value {
    font-weight: bold;
}
