<!DOCTYPE html>
<!--<html data-th-replace="~{layoutFile :: layout(~{::title}, ~{::section}, ~{})}"-->
<!--      lang="en">-->
<html>
<head>
    <title>Sensors Edit</title>
    <meta charset="UTF-8">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <!--    <script src="/js/htmx-2.0.4.js"></script>-->
</head>
<body>
<section data-th-class="sensor-edit">
    <h2 data-th-class="edit"">Sensor Edit</h2>
    <form action="/submit" method="post">
        <div data-th-class="grid-container">
            <div data-th-class="grid-sensorid" data-th-if="${sensor.sensorId}">
                <span data-th-text="${sensor.sensorId}">Sensor Id</span>
                <span data-th-if="${sensor.channel} != ''"
                      data-th-text="'[' + ${sensor.channel} + ']'">0</span>
            </div>
            <label data-th-class="grid-label" for="name">name:</label>
            <input data-th-class="grid-input" id="name" name="name" type="text"
                   value="${sensor.name}"
                   data-th-value="${sensor.name}"/>
            <label data-th-class="grid-label" for="ignore">ignore:</label>
            <input data-th-class="grid-input" id="ignore" name="ignore"
                   type="checkbox"
                   value="${sensor.ignore}"
                   data-th-value="${sensor.ignore}"/>
            <label data-th-class="grid-label" for="location">location: </label>
            <select data-th-class="grid-select" data-th-field="*{location}"
                    id="location">
                <option data-th-each="location : ${locations}"
                        data-th-value="${location.name}"
                        data-th-text="${location.name}">
                    location
                </option>
            </select>
            <input data-th-class="grid-submit" type="submit" value="Submit"/>
            <input data-th-class="grid-hidden" id="sensorId" name="sensorId"
                   type="text" hidden="true"
                   value="sensorId"
                   data-th-value="${sensor.sensorId} "/>
            <input id="channel" name="channel" type="text" hidden="true"
                   value="channel"
                   data-th-value="${sensor.channel}"/>
        </div>
    </form>
</section>
</body>
</html>
