<!DOCTYPE html>
<html lang="en">
<head>
    <title>SensorDb1</title>
</head>
<body>
<section>
    <h2>SensorDb1</h2>
    <ul>
        <li>
            <a data-th-href="@{/sensors}">View sensor data</a>
        </li>
        <li>
            <a data-th-href="@{/list}">Edit sensors</a>
        </li>
        <li>
            <a data-th-href="@{/htmx}">Simple htmx example</a>
        </li>
        <li>
            <a data-th-href="@{/htmx/htmx-sse}">Simple htmx SSE example</a>
        </li>
    </ul>
</section>
</body>
</html>
