<!DOCTYPE html>
<html data-th-fragment="layout (title, content, refresh)">
<head>
    <meta charset="UTF-8">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <!--    <script src="/js/htmx-2.0.4.js"></script>-->
    <title data-th-replace="${title}">Layout Title</title>
    <!--    <meta data-th-replace="~{refresh :: refresh}" />-->
    <meta data-th-replace="${refresh}"/>
</head>
<h1>Layout</h1>
<div data-th-replace="${content}">
    <p>Layout content</p>
</div>
<footer>
    <div data-th-replace="~{footer :: footer}">&copy; 2016 Object Effects</div>
</footer>
</html>
