<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="15" http-equiv="refresh">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <script src="/js/htmx-2.0.4.js"></script>
    <script src="/js/htmx-ext-sse-2.2.2.js"></script>
    <title th:replace="${title}">Layout Title</title>
</head>
<body hx-ext="sse">
<h1>Layout h1</h1>
<div th:replace="${content}">
    <p>Layout content</p>
</div>
<footer>
    Layout footer
</footer>
</body>
</html>
