<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensor</title>
</head>
<body>
<section>
    <h2>Sensors h2</h2>
    <div th:class="main-box" th:each="sensor : ${sensors}">
        <div th:class="sensor-box">
            <div th:class="id" th:if="${sensor.value.zigbeeId}">
                <div th:text="${sensor.value.zigbeeId}">Zigbee Id</div>
            </div>
            <div th:class="id" th:if="${sensor.value.rtl433Id}">
                <div th:text="${sensor.value.rtl433Id}">Rtl433 Id</div>
            </div>
            <div th:class="timestamp" th:text="${sensor.value.timestamp}">Timestamp</div>
            <div th:class="temperature" th:if="${sensor.value.temperature}">
                <div>Temperature</div>
                <div th:class="value" th:text="${#numbers.formatDecimal(sensor.value.temperature,0,1)}">Temperature
                </div>
            </div>
            <div th:class="humidity" th:if="${sensor.value.humidity}">
                <div>Humidity</div>
                <div th:class="value" th:text="${sensor.value.humidity}">Humidity</div>
            </div>
            <div th:class="airQuality" th:if="${sensor.value.airQuality}">
                <div>Air quality</div>
                <div th:class="value" th:text="${sensor.value.airQuality}"></div>
            </div>
            <div th:class="waterLeak" th:if="${sensor.value.waterLeak} != null">
                <div>Water Leak</div>
                <div th:class="value" th:text="${sensor.value.waterLeak}"></div>
            </div>
            <div th:class="occupancy" th:if="${sensor.value.occupancy}">
                <div>Occupancy</div>
                <div th:class="value" th:text="${sensor.value.occupancy}"></div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>
