<!DOCTYPE html>
<html data-th-replace="~{layoutFile :: layout(~{::title}, ~{::section}, ~{::refresh})}"
      lang="en">
<head>
    <title>Sensors Title</title>
    <meta content="15" data-th-fragment="refresh" http-equiv="refresh">
</head>
<body>
<section>
    <h2>Sensors</h2>
    <div data-th-class="main-box"
         data-th-each="sensorvalue : ${sensorvalues}">
        <div data-th-class="sensor-box" data-th-if="${sensorvalue.temperature}">
            <div data-th-class="sensorid" data-th-if="${sensorvalue.name}">
                <span data-th-text="${sensorvalue.name}">Sensor Id</span><span
                    data-th-if="${sensorvalue.channel} != null"
                    data-th-text="'[' + ${sensorvalue.channel} + ']'">0</span>
            </div>
            <div data-th-class="sensorid" data-th-unless="${sensorvalue.name}">
                <span data-th-text="${sensorvalue.sensorId}">Sensor Id</span><span
                    data-th-if="${sensorvalue.channel} != null"
                    data-th-text="'[' + ${sensorvalue.channel} + ']'">0</span>
            </div>
            <div data-th-class="temperature"
                 data-th-if="${sensorvalue.temperature}">
                <div>Temperature</div>
                <div data-th-class="value"
                     data-th-text="${#numbers.formatDecimal(sensorvalue.temperature,0,1)}">
                    Temperature
                </div>
            </div>
            <div data-th-class="humidity" data-th-if="${sensorvalue.humidity}">
                <div>Humidity</div>
                <div data-th-class="value"
                     data-th-text="${sensorvalue.humidity}">Humidity
                </div>
            </div>
            <div data-th-class="airQuality"
                 data-th-if="${sensorvalue.airQuality}">
                <div>Air quality</div>
                <div data-th-class="value"
                     data-th-text="${sensorvalue.airQuality}"></div>
            </div>
            <div data-th-class="waterLeak"
                 data-th-if="${sensorvalue.waterLeak} != null">
                <div>Water Leak</div>
                <div data-th-class="value"
                     data-th-text="${sensorvalue.waterLeak}"></div>
            </div>
            <div data-th-class="occupancy"
                 data-th-if="${sensorvalue.occupancy}">
                <div>Occupancy</div>
                <div data-th-class="value"
                     data-th-text="${sensorvalue.occupancy}"></div>
            </div>
            <div data-th-class="timestamp"
                 data-th-text="${sensorvalue.timestamp}">Timestamp
            </div>
        </div>
    </div>
</section>
</body>
</html>
